.jq-ry-group-wrapper {
  position: relative;
  width: 100%;
}

.jq-ry-group.jq-ry-normal-group {
  width: 100%;
}

.jq-ry-group {
  line-height: 0;
  position: relative;
  white-space: nowrap;
  z-index: 1;
}

.jq-ry-group.jq-ry-rated-group {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 0;
  z-index: 2;
}
