// -----------------------Colors---------------------
//---------------------------------------------------

.bg-red {
  background-color: var(--red);
}
.bg-green {
  background-color: var(--green);
}
//----------------------

.color-pink {
  color: var(--pink);
}

.color-blue {
  color: var(--blue);
}

.color-orange {
  color: #ff5b00;
}

// -----------------------Appear---------------------
// --------------------------------------------------
.mobile-hide {
  display: none;

  @media (min-width: 768px) {
    display: inherit;
  }
}

.align-center {
  text-align: center;
}

.with-skewed-bg {
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transform: skewX(-10deg);
    box-shadow: 10px 9px 8px rgba(26, 59, 38, 0.52);
    z-index: -1;
  }
}

.with-underline {
  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -12px;
    left: 0;
    height: 2px;
    width: 100px;
    background-color: var(--orange);
  }
}

.with-border {
  border: 2px solid;
}
