*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: linear-gradient(180deg, #fbfbfb 0%, #ddd 100%);
  color: var(--dark);
  transition-duration: 0.3s;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.section-padding {
  padding: 20px 16px;

  @media (min-width: 1200px) {
    padding: 40px 32px;
  }
}

.header-padding {
  padding: 10px 16px;

  @media (min-width: 1200px) {
    padding: 10px 32px;
  }
}

.footer-padding {
  padding: 20px 16px;

  @media (min-width: 1200px) {
    padding: 20px 32px;
  }
}
