//------------------ Color Usage----------------

:root {
  --primary: #00c58e;
  --dark: #2f4858;
  --blue: #1989ff;
  --light-blue: #00b6ff;
  --red: #e35f39;
  --white: #edfdf5;
  --sand: #e5e885;
  --dark-orange: #c58700;
}
