//------------------ Color Usage----------------

:root {
  --primary: #2eb10a;
  --primary-light: #afa;
  --accent: #ff0074;
  --dark: #2f4858;
  --blue: #0082cc;
  --light-blue: #00b9ff;
  --red: #ff5b00;
  --white: #edfdf5;
  --sand: #ffd588;
  --dark-orange: #c58700;
}
