//------------------ Color Usage----------------

:root {
  --light-blue: #00b9ff;
  --dark: #00202a;
  --blue: #3455db;
  --white: #f2f1ef;
  --orange: #ff5b00;
  --green: #008000;
  --red: #b11030;
}
